extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")
block content
    main
        if errorMessage
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/new-password", method="POST")
            input(type="hidden", value=csrfToken, name="_csrf")
            input(type="hidden", value=userId, name="userId")
            input(type="hidden", value=passwordToken, name="passwordToken")
            div.form-control
                label(for="newPassword") Password
                input(type="password", name="newPassword", id="newPassword", value="")

            button.btn(type="submit") Update password
