extends ../layouts/main-layout.pug

block content
    main
        h1 Orders
        if orders.length > 0
            ul
                each order in orders
                    li
                        h1 ##{order.id}
                        ul
                            each product in order.products
                                li #{product.title} x#{product.orderItem.quantity}
        else
            h1 Nothing there!
